.nav-libraries {
    width: 100%;
    padding: 20px 0
}

.list-libraries {
    text-align: center;
}

.li-libraries {
    display: inline-block;
}

.link-libraries {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 400;
    color: hsla(0,0%,100%,.6);
    text-transform: uppercase;
    letter-spacing: .16em;
    border: 0;
    display: inline-block;
    margin: .8em;
    padding: .8em .8em 0;
    text-decoration: none;
}

.link-libraries.active {
    color: #fff
}

.link-libraries.active:after {
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    position: relative;
    top: 4px;
    display: block;
    margin: 0 auto
}

.link-libraries.active:hover:after {
    background-color: #1db954
}

@media (max-width: 1200px) {
    .nav-libraries {
        padding-bottom:12px
    }
}

* {
    box-sizing: border-box;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ol,ul {
    list-style: none;
}

.ellipsis-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-subtle {
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: hsla(0,0%,100%,.6)
}

.link-subtle:focus, .link-subtle:hover {
    color: #fff;
}

#react-app {
    width: 100%
}

#react-app .root {
    transition-property: bg-gradient;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(.3,0,.4,1);
    min-height: 100vh
}

#react-app .root .top-container {
    min-height: 100%;
    width: 100%;
    position: relative
}

.nav-bar-container {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,.5);
    overflow: auto;
    min-height: 0!important;
    will-change: transform
}

.nav-bar-container--not-supported {
    top: auto
}

.main-view-container {
    padding-left: 220px;
    padding-bottom: 91px;
    width: 100%;
    min-height: 0!important
}

.contentSpacing {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 1480px
}

.navbar {
    padding: 24px;
    padding-bottom: 95px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.navbar-expand {
    -ms-flex: 1;
    flex: 1
}

.is-connectBarVisible .navBar {
    padding-bottom: 119px
}

.navbar-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px
}

.navbar-header .logo {
    border: 0
}

.navbar-group {
    border-top: 1px solid hsla(0,0%,100%,.25);
    padding-bottom: 5px;
    padding-top: 10px
}

.navbar-group-header {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: hsla(0,0%,100%,.6);
    padding: 7px 0
}

.navbar-item {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    font-weight: 600;
    padding: 3px 0
}

.navbar-item--small {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: 200;
    color: hsla(0,0%,100%,.6);
    text-transform: none;
    color: #fff
}

.navbar-item--with-icon {
    padding-right: 30px;
    position: relative
}

.navbar-link {
    border: 0;
    display: inline-block;
    width: 100%
}

.navbar-link--active,.navBar-link--active:focus,.navBar-link--active:hover {
    color: #1db954
}

.bg-gradient {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    position: fixed;
    will-change: transform
}

.tracklist-container .tracklist {
    color: hsla(0,0%,100%,.6);
    width: 100%;
    margin-bottom: 1.5em
}

.tracklist-row {
    display: -ms-flexbox;
    display: flex;
    height: 4.56em;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tracklist-row .more {
    display: none;
    text-align: right;
    padding-right: 1em
}

.tracklist-name {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff
}

.tracklist-row--active .position,.tracklist-row--active .tracklist-duration,.tracklist-row--active .tracklist-name,.tracklist-row--active .tracklist-play-pause {
    color: #1ed760!important
}

.tracklist-row:focus,.tracklist-row:hover {
    background-color: rgba(0,0,0,.3)
}

.tracklist-row:focus .tracklist-play-pause,.tracklist-row:hover .tracklist-play-pause {
    display: block
}

.tracklist-row:focus .position,.tracklist-row:hover .position {
    display: none
}

.tracklist-row:focus .more,.tracklist-row:hover .more {
    display: block
}

.tracklist-col {
    display: block;
    height: 4.56em
}

.tracklist-col.position-outer {
    letter-spacing: 0;
    text-align: right;
    padding-right: 1em;
    width: 3em
}

.tracklist-col.name {
    text-align: left;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.tracklist-col-duration {
    font-feature-settings: "tnum";
    letter-spacing: 0;
    text-align: right;
    padding-right: 1em;
    width: 3.9em
}

.tracklist-top-align .tracklist-duration {
    margin-top: .67em
}

.track-name-wrapper .artists-album {
    display: block
}

.track-name-wrapper .artists-album-separator {
    display: inline-block;
    transform: translateY(-1px);
    font-size: .8em;
    padding: 0 8px
}

.tracklist-top-align {
    position: relative;
    margin-top: .5em
}

.tracklist-top-align.position {
    margin-top: .69em
}

.tracklist-middle-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.track-name-wrapper .artists-album {
    display: block;
}

header.artist-header {
    position: relative;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    background-size: cover;
    background-position: 50%;
    padding-left: 220px;
    margin-left: -220px
}

header.artist-header:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(transparent -30%,#181818)
}

header.artist-header>* {
    position: relative
}

header.artist-header h1 {
    margin: 0 auto;
    max-width: 70%;
    display: block;
    text-align: center
}

header.artist-header h1.small {
    font-size: 36px;
    line-height: 44px
}

header.artist-header h1.medium,header.artist-header h1.small {
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none
}

header.artist-header h1.medium {
    font-size: 48px;
    line-height: 56px
}

header.artist-header h1.large {
    font-size: 72px;
    line-height: 82px;
    letter-spacing: -.005em;
    font-weight: 600;
    color: #fff;
    text-transform: none
}

.react-contextmenu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    color: hsla(0,0%,100%,.6);
    text-align: left;
    background-color: #282828;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    pointer-events: none;
    opacity: 0;
    z-index: 1003
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto
}

.react-contextmenu-item {
    width: 100%;
    padding: 3px 20px;
    clear: both;
    line-height: 32px;
    color: hsla(0,0%,100%,.6);
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.react-contextmenu-item.active,.react-contextmenu-item:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
    text-decoration: none
}

.react-contextmenu-item.submenu>a {
    padding-right: 27px
}

.react-contextmenu-item.submenu>a:after {
    content: "\25B6";
    display: inline-block;
    position: absolute;
    right: 7px
}

.react-contextmenu-wrapper {
    display: inline
}